<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
<h1>Category</h1>
<hr>
<table border="1"  class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${listCate}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.categoryname}"></td>
        <td>
            <button  class="btn btn-primary"><a th:href="@{/category/updateForm/{id}(id=${category.id})}" style="color: black">Update</a></button>
            <button  class="btn btn-primary"><a th:href="@{/category/delete/{id}(id=${category.id})}" style="color: black">Delete</a></button>
            <button  class="btn btn-primary"><a th:href="@{/category/detail/{id}(id=${category.id})}" style="color: black">Detail</a></button>
        </td>
    </tr>
    </tbody>
</table>


<div th:if="${totalPages > 1}">
    <div>
        <button class="btn btn-primary">
        <span th:each="i:${#numbers.sequence(1,totalPages)}">
        <a th:if="${currentPage != i}" th:href="@{'/category/page/' + ${i}}"  style="color: black">[[${i}]]</a>
            <span th:unless="${currentPage!= i}">[[${i}]]</span>
        </span>
        </button>
    </div>
</div>

<hr>
<button  class="btn btn-primary"><a th:href="@{/category/saveForm}" style="color: black">Save Category</a></button>
</body>
</html>