<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <button type="button" class="btn btn-success"><a style="color: white" href="/product/view-add">ADD</a></button>
        </div>
        <div class="col-12"style="margin-top: 30px">
            <table class="table" border="1">
                <thead>
                <tr>
                    <th scope="col">ID Product</th>
                    <th scope="col">createdAt</th>
                    <th scope="col">description</th>
                    <th scope="col">isActive</th>
                    <th scope="col">isSelling</th>
                    <th scope="col">price</th>
                    <th scope="col">productName</th>
                    <th scope="col">quantity</th>
                    <th scope="col">sold</th>
                    <th scope="col">Chức Năng</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="nv: ${list}">
                    <td>[[${nv.id}]]</td>
                    <td>[[${nv.createdAt}]]</td>
                    <td>[[${nv.description}]]</td>
                    <td>[[${nv.isActive}]]</td>
                    <td>[[${nv.isSelling}]]</td>
                    <td>[[${nv.price}]]</td>
                    <td>[[${nv.productName}]]</td>
                    <td>[[${nv.quantity}]]</td>
                    <td>[[${nv.sold}]]</td>
                    <td>
                        <button><a th:href="@{/product/delete/{id}(id=${nv.id})}">Delete</a></button>
                    </td>
                    <td>
                        <button><a th:href="@{/product/view-update/{id}(id=${nv.id})}">Update</a>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <!--phân trang cho sản phẩm-->
                <nav aria-label="...">
                    <ul class="pagination" style="margin-left: 370px">
                        <!--trang đầu-->
                        <li class="page-item">
                            <a class="page-link" th:href="@{/product/hien-thi(pageNo=0)}">Fist</a>
                        </li>
                        <!--Previous-->
                        <li class="page-item" th:if="${pageNumber>0}">
                            <a class="page-link"
                               th:href="@{/product/hien-thi(pageNo=${pageNumber} -1)}">Previous</a>
                        </li>
                        <li class="page-item" th:if="${pageNumber == 0}">
                            <a class="page-link" th:disabled="true">Previous</a>
                        </li>
                        <!--số thứ tự trang-->
                        <!--dùng for i trong thymleaf-->
                        <div th:each="index : ${#numbers.sequence(0, categoryPage-1)}">
                            <li class="page-item">
                                <a class="page-link"
                                   th:href="@{/product/hien-thi(pageNo=${index})}"
                                   th:text="${index+1}"></a>
                            </li>
                        </div>
                        <!--Next-->
                        <li class="page-item" th:if="${pageNumber < (categoryPage -1)}">
                            <a class="page-link"
                               th:href="@{/product/hien-thi(pageNo=${pageNumber} +1)}">Next</a>
                        </li>
                        <li class="page-item" th:if="${pageNumber == (categoryPage -1)}">
                            <a class="page-link" th:disabled="true">Next</a>
                        </li>
                        <!--trang cuối-->
                        <li class="page-item">
                            <a class="page-link"
                               th:href="@{/product/hien-thi(pageNo=${categoryPage -1})}">Last</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>